<div class="form-group">
  <label for="car-label" class="">Car Label:</label>
  <div class="">
  {{input type="text"
          id="car-label"
          placeholder="Ex. My Weekend Car"
          class="form-control"
          value=carLabel
          required=true
          }}
  </div>
</div>
