<div class="form-group">
  <label for="year" class="">Car Year:</label>
  <div class="">
    {{input type="number"
        id="year"
        class="form-control"
        value=year
         min='1970'
         max='2050'
         placeholder='Enter a Year'
         required=true}}
  </div>
</div>
