<form id="change-password" class="col-md-offset-4 col-md-4 form-horizontal" {{action "submit" on='submit'}}>
  <div class="">
    {{password-old previous=model.previous}}
    {{password-new next=model.next}}
    <div class="container col-md-12">
      <button type="submit" class="btn btn-lg btn-block btn-primary">Change Password</button>
    </div>
  </div>
</form>
