<div class="form-group">
  <label for="mileage" class="">Current Mileage:</label>
  <div class="">
    {{input type="number"
        id="mileage"
        class="form-control"
        value=mileage
         min='0'
         max='500000'
         placeholder='Ex. 200000'
        required=true}}
  </div>
</div>
