<div class="form-group">
  <label for="mileage" class="">Trip Mileage:</label>
  <div class="">
    {{input type="number"
        id="mileage"
        class="form-control"
        value=mileage
         min='0'
         max='200'
         placeholder='Ex. 100'
        required=true}}
  </div>
</div>
