<div class="form-group">
  <label for="mileage" class="">Current Mileage:</label>
  <div class="">
    {{input type="number"
        id="mileage"
        class="form-control"
        value=current_mileage
         min='1'
         max='300000'
         placeholder='Ex. 40000'}}
  </div>
</div>
