<div class="form-group">
  <label for="email" class="">Email:</label>
  <div class="">
  {{input type="email"
          id="email"
          placeholder="Email"
          class="form-control"
          value=email
          required=true
          autofocus=true}}
  </div>
</div>
