<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="jumbo-background"></div>
  <div class="container">
    <div class="headline">CarTracker</div>
    <div class="subheadline">Keeping Track Of Car Maintenance Has Never Been Easier!</div>
  </div>
</div>

<div class="container-fluid">
  <div class="marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-sm-4">
        <div class="whitebox">
        <br />
        <img class="img-circle" src="https://raw.githubusercontent.com/TacosTacosTacos/car-tracker-ui/master/app/images/photo-1498887960847-2a5e46312788.jpeg" alt="Generic placeholder image" width="200" height="200">
        <h2 class="box-title">Track Mileage</h2>
        <p>Do you want to know how your gas mileages has been
          changing in your car over a period of time?  CarTracker
          stores this information for you.  It will automatically calculate
          the price per mile and miles per gallom for your cars.
          <br>
          <br>

        </p>
          {{#link-to "sign-up-p1"}}<button type="button" class="btn btn-primary btn-lg">Sign Up Now!</button>{{/link-to}}
      </div>
    </div>      <!-- /.col-lg-4 -->
      <div class="col-sm-4">
        <div class="whitebox">
        <br />
        <img class="img-circle" src="https://raw.githubusercontent.com/TacosTacosTacos/car-tracker-ui/master/app/images/photo-1474265466889-5f5d93b0d5e8.jpeg" alt="Generic placeholder image" width="200" height="200">
        <h2 class="box-title">Track Maintenance</h2>
        <p>Are you unable to remember when your next oil change is due?
          Quickly look it up with CarTracker and see when it is due.
           Keep track of maintenance events such as oil change, tire rotation,
           and routine service appointments.</p>
           <br />
          {{#link-to "sign-up-p1"}}<button type="button" class="btn btn-primary btn-lg">Sign Up Now!</button>{{/link-to}}
      </div>
    </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-4">
        <div class="whitebox">
        <br />
        <img class="img-circle" src="https://raw.githubusercontent.com/TacosTacosTacos/car-tracker-ui/master/app/images/photo-1493407722824-9bbffff3b954.jpeg" alt="Generic placeholder image" width="200" height="200">
        <h2 class="box-title">Supports Multiple Cars</h2>
        <p>Keep track of information on all of your cars information just in one place.
          Access it at home or on the road from your computer or phone.</p>
          <br />
          <br />
          <br />
        {{#link-to "sign-up-p1"}}<button type="button" class="btn btn-primary btn-lg">Sign Up Now!</button>{{/link-to}}
      </div>
      </div>
    </div>
  </div>
</div>
