<div class="form-group">
  <label for="car-model" class="">Car Model:</label>
  <div class="">
  {{input type="text"
          id="car-model"
          placeholder="Car Model"
          class="form-control"
          value=carModel
          required=true
          autofocus=true}}
  </div>
</div>
