<form id="model-form" class="col-md-offset-4 col-md-4 form-horizontal" {{action "submit" on='submit'}}>
<legend>Additional Car Details</legend>
  <div class="">
    {{car-model-select carModels=signupstorage.carModels selectedOption=model.carModel}}
    {{car-label-input carLabel=model.carLabel}}
    <div class="container row">
      <div class="col-sm-3">
        {{#link-to "sign-up-p1"}}
          <button type="button" class="btn btn-lg btn-block btn-warning">Previous</button>
        {{/link-to}}
      </div>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-lg btn-block btn-primary">Next</button>
      </div>
    </div>
  </div>
</form>
