<div class="form-group">
  <label for="next" class="">New Password:</label>
  <div class="">
    {{input type="password"
        id="next"
        placeholder="New password"
        class="form-control"
        value=next
        required=true
        autofocus=true}}
  </div>
</div>
