<div class="form-group">
  <label for="previous" class="">Old Password:</label>
  <div class="">
    {{input type="password"
        id="previous"
        placeholder="Old password"
        class="form-control"
        value=previous
        required=true
        autofocus=true}}
  </div>
</div>
