<div class="form-group">
  <label for="password" class="">Password:</label>
  <div class="">
    {{input type="password"
        id="password"
        placeholder="Password"
        class="form-control"
        value=password
        required=true
        autofocus=true
        autocomplete='new-password'}}
  </div>
</div>
