<div class="form-group">
  <label for="password-confirmation" class="">Password Confirmation:</label>
  <div class="">
    {{input type="password"
        id="password-confirmation"
        placeholder="Password Confirmation"
        class="form-control"
        value=password
        required=true
        autofocus=true
        autocomplete='new-password'}}
  </div>
</div>
