<div class="form-group">
  <label for="purchase_date" class="">Date of Fillup:</label>
  <div class="">
    {{input type="date"
        id="purchase_date"
        class="form-control"
        value=purchase_date
        required=true}}
  </div>
</div>
