<div class="form-group">
  <label for="service_date" class="">Service Date:</label>
  <div class="">
    {{input type="date"
        id="service_date"
        class="form-control"
        value=service_date
        required=true}}
  </div>
</div>
