{{show-confetti  model=model}}

<h1>My Dashboard</h1>
<br />
<div class="container-fluid">
  <div class="marketing">
    <div class="row">
      <div class="col-sm-4">
        <div class="whitebox">
          <br />
          <img class="img-circle" src="https://raw.githubusercontent.com/TacosTacosTacos/car-tracker-ui/master/app/images/photo-1510077230859-117946312a08.jpeg" alt="Generic placeholder image" width="200" height="200">
          <h1>Track Mileage</h1>
          <h4>Know how your cars have been performing over time.  Record mileage information for your cars.
            CarTracker will automatically calculate
            the price per mile and miles per gallon for your cars.</h4>
          {{#link-to "mileage"}}
            <button type="button" class="btn btn-primary btn-lg">Click Here</button>
          {{/link-to}}
        </div>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-4">
        <div class="whitebox">
          <br />
          <img class="img-circle" src="https://raw.githubusercontent.com/TacosTacosTacos/car-tracker-ui/master/app/images/photo-1487754180451-c456f719a1fc.jpeg" alt="Generic placeholder image" width="200" height="200">
          <h1>Track Maintenance</h1>
          <h4>Record information on maintenance events for your car.
             Know when you need an oil change, tire rotation,
             or routine service appointment.</h4>
             <br />
          {{#link-to "maintenance"}}
            <button type="button" class="btn btn-primary btn-lg">Click Here</button>
          {{/link-to}}
        </div>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-4">
        <div class="whitebox">
          <br />
          <img class="img-circle" src="https://raw.githubusercontent.com/TacosTacosTacos/car-tracker-ui/master/app/images/photo-1505592225030-dad7a0531844.jpeg" alt="Generic placeholder image" width="200" height="200">
          <h1>Manage Your Garage</h1>
          <h4>Modify information on the cars you own.  Add additional Cars to the site.
            <br />
            <br />
            <br />
          </h4>
          {{#link-to "garage"}}
            <button type="button" class="btn btn-primary btn-lg">Click Here</button>
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>



<br/>
<br/>
<br/>
