@import 'bootstrap';
@import 'bootstrap/theme';
@import url('https://netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Oswald');

$page-background:  #f0f0f5;
$header-background: #d1d1e0;
$text-shadow: #000;
$whitebox-color: #fff;
$whitebox-border-color: #000;
$black-shadow: #888;

html {
  min-height: 100%;
  position: relative;
}

body {
  // background-color: #363636;
  background-color: $page-background;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 60px; //* Margin bottom by footer height */
}

.button-margin-bottom {
  margin-bottom: 1em;
}
// table, th, td {
//     border: 1px solid black;
//     border-collapse: collapse;
// }

.center-controls {
  text-align: center;
}

.page-title {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.whitebox {
  background-color: $whitebox-color;
  border-color: $whitebox-border-color;
  border-style: solid;
  // box-shadow: 5px 5px 5px $black-shadow;
  margin-bottom: .5em;
  margin-right: .5em;
  padding: 1em;
}

.whitebox-forms {
  background-color: $whitebox-color;
  border-color: $whitebox-border-color;
  border-style: solid;
  box-shadow: 5px 5px 5px $black-shadow;
}

.confetti {
  display: none;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.underline {
  text-decoration: underline;
}

.jumbotron {
  position: relative;
  text-align: center;
  z-index: 1;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #B8B8B8;
}

.jumbotron .jumbo-background {
  background: url('https://images.unsplash.com/photo-1445966275305-9806327ea2b5?auto=format&fit=crop&w=3000&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-position: 50% 39%;
  background-size: cover;
  border-color: $whitebox-border-color;
  border-style: solid;
  bottom: 0;
  // box-shadow: 5px 5px 5px $black-shadow;
  height: 100%;
  left: 0;
  opacity: .8;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;


}

.footer {
  bottom: 0;
  height: 60px; //* Set the fixed height of the footer here */
  line-height: 60px; //* Vertically center the text there */
  position: absolute;
  text-align: right;
  width: 100%;
  // background-color: #f5f5f5;
}

.headline {
  color: $page-background;
  font-family: 'Oswald';
  font-size: 5em;
  font-weight: 800;
  text-align: center;
  text-shadow: 0px 0px 3px $text-shadow, -1px -1px $text-shadow, 1px 1px $text-shadow;
  line-height: 1em;

}




.box-title {
   font-weight: 900;
}

.subheadline {
  color: $page-background;
  font-size: 1.8em;
  font-family: 'Oswald';
  font-style: italic;
  // font-weight: 900;
  text-align: center;
  text-shadow: 0px 0px 2px $text-shadow, -1px -1px $text-shadow, 1px 1px $text-shadow;
}

@media screen and (max-width: 700px) {
    .headline {
        font-size: 2.6em; /* 0.8x default size */
        }

    .subheadline {
        font-size: 1.5em; /* 0.8x default size */
        }

    }

.marketing {
  text-align: center;
}

p > .marketing {
  margin: 0;
}

.hide-section {
  display: none;
}




@-webkit-keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.vibrate-3 {
	-webkit-animation: vibrate-3 0.5s linear 15 both;
	        animation: vibrate-3 0.5s linear 15 both;
}
