@import 'bootstrap';
@import 'bootstrap/theme';
@import url('https://netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css');
// @import url('http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

$page-background:  #f0f0f5;
$header-background: #d1d1e0;

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: $page-background;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 60px; //* Margin bottom by footer height */
}

.page-title {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}

footer {

}

.whitebox {
  background-color: white;
  border-color: black;
  border-style: solid;
  margin-bottom: .5em;
  margin-right: .5em;
  box-shadow: 5px 5px 5px #888888;
  padding: 1em;
}

.whitebox-forms {
  background-color: white;
  border-color: black;
  border-style: solid;
  box-shadow: 5px 5px 5px #888888;
}

.confetti {
  display: none;
}

.jumbotron {
  background-image: url('https://images.unsplash.com/photo-1445966275305-9806327ea2b5?auto=format&fit=crop&w=3000&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  padding-bottom: 1em;
  padding-top: 1em;
  border-color: black;
  border-style: solid;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 40%;
  color: red;
}

.footer {
  bottom: 0;
  height: 60px; //* Set the fixed height of the footer here */
  line-height: 60px; //* Vertically center the text there */
  position: absolute;
  width: 100%;
  text-align: right;
  // background-color: #f5f5f5;
}

.headline {
  font-size: 3em;
  text-align: center;
  color: $page-background;
  font-weight:900;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
  background-color: rgba(0,0,0,0.3);
}

.subheadline {
  font-size: 2em;
  font-style: italic;
  text-align: center;
  color: $page-background;
  font-weight:900;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
  background-color: rgba(0,0,0,0.3);
}

.marketing {
  text-align: center;
}

p > .marketing {
  margin: 0;
}

.hide-section {
  display: none;
}
